<mat-card class="card">
  
  <!-- Card header -->
  <mat-card-header>
    <div mat-card-avatar class="header-image" *ngIf="movie.Poster !== 'N/A'"
      [style.backgroundImage]="'url('+ movie?.Poster +')'"></div>
    <div mat-card-avatar class="header-image" *ngIf="movie.Poster === 'N/A'"
      [style.backgroundImage]="'url(../../../../../assets/images/no-poster.jpg)'"></div>

    <mat-card-title>{{movie.Title}}</mat-card-title>
    <mat-card-subtitle>imdbRating: {{movie.imdbRating}}</mat-card-subtitle>
  </mat-card-header>

<!-- Card content -->
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="50px">

      <!-- movie poster -->
      <img fxFlexAlign="center" *ngIf="movie.Poster !== 'N/A'" mat-card-image src="{{movie.Poster}}"
        alt="Poster is not available" fxFlex="25" fxFlex.lt-sm="100">
      <img fxFlexAlign="center" *ngIf="movie.Poster === 'N/A'" mat-card-image src="../../../assets/images/no-poster.jpg"
        alt="{{'movie-layout.poster-not-available'| translate}}" fxFlex="30">

      <div fxLayout="column" fxFlex fxLayoutGap="10px">

        <!--Row for rated and Release  -->
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.rated'| translate" [value]="movie?.Rated">
            </app-movie-row-info>
          </div>
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.released'| translate" [value]="movie?.Released">
            </app-movie-row-info>
          </div>
        </div>

        <!--Row for runtime and genre  -->
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.runtime'| translate" [value]="movie?.Runtime">
            </app-movie-row-info>
          </div>
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.genre'| translate" [value]="movie?.Genre" ShowAsList=true>
            </app-movie-row-info>
          </div>
        </div>

        <!--Row for director and writer  -->
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.director'| translate" [value]="movie?.Director"
              ShowAsList=true>
            </app-movie-row-info>
          </div>
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.writer'| translate" [value]="movie?.Writer" ShowAsList=true>
            </app-movie-row-info>
          </div>
        </div>

        <!--Row for actors and language  -->
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.actors'| translate" [value]="movie?.Actors" ShowAsList=true>
            </app-movie-row-info>
          </div>
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.language'| translate" [value]="movie?.Language"
              ShowAsList=true>
            </app-movie-row-info>
          </div>
        </div>


        <!--Row for awards and list-of-ratings  -->
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.awards'| translate" [value]="movie?.Awards">
            </app-movie-row-info>
          </div>
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.list-of-ratings'| translate" [value]="movie?.Ratings"
              ShowAsList=true>
            </app-movie-row-info>
          </div>
        </div>

        <!--Row for imdbRating and imdbVotes  -->
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.imdbRating'| translate" [value]="movie?.imdbRating">
            </app-movie-row-info>
          </div>
          <div fxFlex="50" fxFlex.lt-sm="100">
            <app-movie-row-info [headerText]="'movie-layout.imdbVotes'| translate" [value]="movie?.imdbVotes">
            </app-movie-row-info>
          </div>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
          <div fxFlex>
            <div fxFlex fxFlex.lt-sm="100" fxLayoutAlign="stretch  center">
              <app-movie-row-info [headerText]="'movie-layout.plot'| translate" [value]="movie?.Plot" showReadMore=true
                [textCountLimit]="textLimit">
              </app-movie-row-info>
            </div>
          </div>
        </div>


      </div>
    </div>
  </mat-card-content>
</mat-card>